.config.json
.config.json.backup
.config.nodes.json
.config.nodes.json.backup
.config.projects.json
.config.runtime.json
.config.users.json
.flows.json.backup
flows_cred.json
.flows_cred.json.backup
node_modules
.DS_Store
nodes/.DS_Store
gogs
gitea
.npm
